<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link  rel="stylesheet"  href="./static/main.css" >
</head>
<body>
    <div class="main-login">
        <a href="./index.html"><img class="login-logo" src="../../static/images/login-logo.png" ></a>
        <div class="login">
            <ul class="login-ul">
                <li id="passwordLogin" class="active-li">密码登录</li>
                <li id="messageLogin">短信登录</li>
            </ul>
            <div class="message">
                <div class="flex phone-input mt-20">
                    <input type="text" id="msgPhoneTip" placeholder="请输入手机号"/>
                    <span id="getCapture">获取验证码</span>
                </div>
                <p class="msg-error-tip">请输入正确的手机号</p>
                <div class="flex phone-input mt-20">
                    <input type="text" id="getPleaseCapture" placeholder="请输入验证码" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
                </div>
                <p class="cap-error-tip">请输入正确的验证码</p>
            </div>
            <div class="password">
                <div class="flex phone-input mt-20">
                    <input  type="text" id="passPhoneTip" placeholder="请输入手机号"/>
                </div>
                <p class="phone-error-tip">请输入正确的手机号</p>
                <div class="flex phone-input mt-20">
                    <input type="password" id="passWordTip" placeholder="请输入密码"/>
                </div>
                <p class="pass-error-tip">请输入6-12字母数字或下划线</p>
            </div>
            <div class="flex mt-40 to-register">
                <p class="ruanmou-flag">让编程更简单,让程序员更幸福</p>
            </div>
            <div class="login-btn mt-10">
                登 录
            </div>
            <ul class="flex login-bottom-ul mt-20">
                <li>忘记密码？</li>
                <li><a href='./register.html'>立即注册</a></li>
            </ul>
        </div>
    </div>
</body>
</html>