<!-- 关于我们 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="软谋教育">
    <meta name="keyword" content="软谋教育">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <%= require('../components/header.ejs')()%>
    <%= require('../components/bannerSlide.ejs')()%>
    <div class="page-width news-page-frame">
        <div class="news-box">
            <img src="/static/images/course01.png">
            <div class="info">
                <h1><a href="news-detail.html">软谋教育成功举办”谋定未来”线下技术沙龙</a></h1>
                <p>
                    2019年6月29日，软谋教育于北京举行了线下IT技术沙龙。本次沙龙主要面向软谋VIP学员及其他IT技术从业者，旨在扩大软谋教育品牌影响力，分享软谋教育最新课程研发成果，增进机构与学员的感情。现场近200名IT精英到场，腾讯课堂也同步直播课这次沙龙，百余名IT从业者在线观看了这场精彩直播。参与本次沙...
                </p>
                <span>2019-6-29 10:00:00</span>
            </div>

        </div>
        <div class="news-box">
            <img src="/static/images/course01.png">
            <div class="info">
                <h1><a href="news-detail.html">软谋教育成功举办”谋定未来”线下技术沙龙</a></h1>
                <p>
                    2019年6月29日，软谋教育于北京举行了线下IT技术沙龙。本次沙龙主要面向软谋VIP学员及其他IT技术从业者，旨在扩大软谋教育品牌影响力，分享软谋教育最新课程研发成果，增进机构与学员的感情。现场近200名IT精英到场，腾讯课堂也同步直播课这次沙龙，百余名IT从业者在线观看了这场精彩直播。参与本次沙...
                </p>
                <span>2019-6-29 10:00:00</span>
            </div>

        </div>
        <div class="news-box">
            <img src="/static/images/course01.png">
            <div class="info">
                <h1><a href="news-detail.html">软谋教育成功举办”谋定未来”线下技术沙龙</a></h1>
                <p>
                    2019年6月29日，软谋教育于北京举行了线下IT技术沙龙。本次沙龙主要面向软谋VIP学员及其他IT技术从业者，旨在扩大软谋教育品牌影响力，分享软谋教育最新课程研发成果，增进机构与学员的感情。现场近200名IT精英到场，腾讯课堂也同步直播课这次沙龙，百余名IT从业者在线观看了这场精彩直播。参与本次沙...
                </p>
                <span>2019-6-29 10:00:00</span>
            </div>

        </div>

        <div class="pager"></div>
     </div>
     <%= require('../components/footer.ejs')()%> 


</body>
</html>