<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="软谋教育">
    <meta name="keyword" content="软谋教育">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <%= require('../components/header.ejs')()%>
    <%= require('../components/bannerSlide.ejs')()%>

    <div class="page-width news-detail">
        <div class="news-title">软谋教育成功举办”谋定未来”线下技术沙龙</div><div class="news-publish">2018-09-30 10:46:00&nbsp;&nbsp;•&nbsp;&nbsp;来源： 中国新闻网</div><div class="markdown-body"><p>（中新网，9月30日电） 30日，VIPKID“世界大课堂”海外首站今日正式落地美国奥兰多华特迪士尼世界度假区，来自中国的众多VIPKID学员家庭不远万里与美国的400余名外教相见。值得关注的是，奥兰多副市长Samuel B. Ings现身师生见面会，称赞“VIPKID是一家伟大的教育公司”，并现场宣布了一个大消息：将每年9月29日定为奥兰多的“VIPKID日”。
        <img src="https://image.vipkid.com.cn/cmsAdmin/adv/pc/image/ams_cms_news_1539700486761_108.png" alt="image.png"></p>
        <div class="hljs-center">
        <p>奥兰多副市长宣布设立“VIPKID日”</p>
        </div>
        <p>设立“VIPKID日”的消息一经公布，让现场中国家长们震惊。Samuel副市长认为，VIPKID已经成为全球文化、教育交流的代表，对全球优质教育做出了积极的创新探索，奥兰多市希望和VIPKID这样优秀的企业共同增进中美文化交流和沟通，帮助小朋友们快乐学习和成长。</p>
        <p>来自中科院《2017年中国在线少儿英语教育白皮书》显示，VIPKID拥有超过6万名北美外教，美国中部、东部地区成为外教集中地，其中奥兰多外教数量位居北美地区第一。VIPKID不但实现了美国和中国教育资源的高效匹配，更是帮助几万美国教师实现了就业机会。
        <img src="https://image.vipkid.com.cn/cmsAdmin/adv/pc/image/ams_cms_news_1539700530694_132.png" alt="image.png"></p>
        <div class="hljs-center">
        <p>VIPKID学员与北美外教在师生见面会现场</p>
        </div>
        <p>此外，美国著名招聘网站Flexjobs对外发布的《2017年最佳远程办公公司TOP100榜单》显示，VIPKID一举超越亚马逊、希尔顿、戴尔等国际知名公司位列榜首，成为全美最适合在家办公的公司。有竞争力的薪酬体系以及高质量的培训管理体系，成为VIPKID在北美地区受欢迎的重要原因。</p>
        <p>师生见面会后，VIPKID世界大课堂“寻梦之旅”正式开启。在奥兰多旅游会展局的大力支持下， VIPKID小学员们未来一周将与北美外教一起畅游全球最大的奥兰多迪士尼，不仅可以与迪士尼的卡通人物互动、观看迪士尼专业团队的精彩演出，还能在真实场景中进行实操演练。</p>
        <p>VIPKID相关负责人张延宁表示：“VIPKID一直以来都希望把全新的、最好的教育，给到世界上的每个孩子，让他们可以跳出屏幕，亲身融入到海外环境中去，乐在其中、学在其中，帮助他们拓展全球视野，让世界成为小学员们的大课堂。”</p>
        <p>如今，随着“世界大课堂”项目启动，丰富有趣的线上教学和线下的实景体验完美融合，小学员们可以先从“VIPKID世界课堂”小程序中领略地球另一边的风采，再亲身去到像美国迪士尼主题乐园这样的线下“课堂”中感受语言和文化的魅力，一步步提升自己的国际视野和综合能力。未来，VIPKID将继续展开对跨文化教育的探索，以优质的内容和学习体验赋能孩子，为孩子们提供更丰富的学习互动体验场景。</p>
        </div><div class="news-originlink"><span>原文链接：</span><a href="http://www.chinanews.com/business/2018/09-30/8640376.shtml" target="_blank">http://www.chinanews.com/business/2018/09-30/8640376.shtml</a></div></div>


    <%= require('../components/footer.ejs')()%>

</body>
</html>