<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link  rel="stylesheet"  src="static/main.css" >
</head>
<body>
   
        <div id="mainContent" class="main-page-frame">   
           
            我是测试内容
        </div>

    <div class="page-footer">ssss</div>
  
</body>
</html>