<div class="banner-box" id="bannerBox">
    <ul class="banner-img-list">
        <li><img src="./static/images/banner/01.png"></li>
        <li><img src="./static/images/banner/01.png"></li>
        <li><img src="./static/images/banner/01.png"></li>
    </ul>
</div>
