<div class="page-footer">
    <div class="page-width">
        <div class="column-info">
            <div class="col-title">客服热线</div>
            <div class="contact">
                <i class="icon-tel"></i><span class="tel">027-88888888</span><br/>
                <span class="time">周一至周日 09：00~18：00</span><br/>
                <button type="button" class="btn-normal">在线咨询</button>
            </div>
        </div>

        <div class="column-info">
            <div class="col-title">公司信息</div>
            <div class="links">      
               <a href="#">机构发展</a>
               <a href="#">腾讯课堂</a>
               <a href="#">创始人致辞</a>
                <a href="#">入学流程</a>
                <a href="#">联系我们</a>
                <a href="#">VIP权限</a>
                <a href="#">讲师团队</a>
                <a href="#">支付方式</a>
                <a href="#">岗位招聘</a>
                <a href="#">学习说明</a>
                <a href="#">学员风采</a>  
            </div>
        </div>

        <div class="column-info">
            <div class="col-title">关注我们</div>
            <div class="lesson">
               <ul >
                   <li class="web">
                        <span>软谋前端</span>
                   </li>
                   <li class="net">
                         <span>软谋NET</span>
                    </li>
                    <li class="python">
                        <span>软谋PYTHON</span>
                    </li>
               </ul>
            </div>
        </div>

    </div>
   <div class="copy-right">
       
   </div> 
</div>
<style>
   
</style>