
<link href="./static/main.css" rel="stylesheet">
<div class="top-menu page-width" id="topMenu">
    <div class="logo"></div>
    <ul class="menu-list">
        <li><a href="index.html" class="actived">首页</a></li>
        <li><a href="net.html">.NET架构</a></li>
        <li><a href="web.html">WEB前端</a></li>
        <li><a href="audition.html">预约试听</a></li>
        <li><a href="about.html">关于我们</a></li> 
    </ul>
    <div class="quick-link">
        <a href="login.html">登录</a>
        <a href="register.html" class="actived">注册</a>
    </div>
</div>

 
