.try-to-listen {
    width:200px;
    border-right: 1px solid #ebebeb;
    .order {
        height: 405px;
        width: 100%;
        position: relative;
        .square {
            width: 145px;
            height: 145px;
            background: #e5f8e9;
            border-radius: 50%;
            position: relative;
            display: block;
            left: 0;
            top:0;
            .num {
                
            }
        }
    }
}